.projects__project {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px){
    .projects__project {
        margin-bottom: 51px;
    }

    .projects__project:last-of-type {
        margin-bottom: 0px;
    }
}
