.members__title_supp {
    margin: 0 0 0 0;
}

@media screen and (max-width: 768px){
    .members__title_supp {
        text-align: center;
    }

}



@media screen and (max-width: 320px){
    .members__title_supp {
        margin: 47px 0 0 0;
        text-align: center;
    }

}
